@import "_components/_variables.scss";
@import "_reset.scss";
@import "_components/_typography.scss";

body {
    letter-spacing: 0.02rem;
    font-family: $primary-font;
    background-color: darken($color: #033642, $amount: 0);
}

.container {
    max-width: 400px;

    .title {
        font-family: $secondary-font;
        font-weight: 400;
        text-shadow: 2px 1px 2px rgb(247, 244, 244);

        .emoji {
            text-shadow: none;
        }
    }

    .js-card {
        position: relative;
        text-align: center;
        height: 427px;

        .details {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            h5 {
                font-weight: 300;
            }

            .js-temp {
                font-size: 4.8rem;
                font-family: $secondary-font;
                font-weight: 200;
            }
        }

        .js-icon {
            position: relative;
            top: -50px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.918);
        }

        .icon {
            position: relative;
            top: 20px;
            left: -5px;;
            border-radius: 50%;
            width: 110px;
            // shape-outside: circle(50%);
            // width: 100px;
            // height: 100px;
            // background-color: rgb(247, 244, 244);
        }


    }
}

.night-mode {
    background-color: rgba(252, 252, 159, 0.856);
}