@import "_components/_variables.scss";
@import "_reset.scss";
@import "_components/_typography.scss";

body {
    letter-spacing: 0.02rem;
    font-family: $primary-font;
    background-color: darken($color: #033642, $amount: 0);
}

.container {
    max-width: 400px;

    .title {
        font-family: $secondary-font;
        font-weight: 400;
        text-shadow: 2px 1px 2px rgb(247, 244, 244);

        .emoji {
            text-shadow: none;
        }
    }

    .details h5 {
        font-weight: 300;
    }

    .temp span {
        font-size: 4.8rem;
        font-family: $secondary-font;
        font-weight: 200;
    }
}