.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

@media (max-width: 1023px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-lg {
    display: none;
  }
}

.m-xs {
  margin: 16px;
}

.m-md {
  margin: 24px;
}

.m-lg {
  margin: 32px;
}

.m-xl {
  margin: 40px;
}

.m-xs {
  margin: 16px;
}

.m-md {
  margin: 24px;
}

.m-lg {
  margin: 32px;
}

.m-xl {
  margin: 40px;
}

.m-bottom-xs {
  margin-bottom: 16px;
}

.m-bottom-md {
  margin-bottom: 24px;
}

.m-bottom-lg {
  margin-bottom: 32px;
}

.m-bottom-xl {
  margin-bottom: 40px;
}

.m-top-xs {
  margin-top: 16px;
}

.m-top-md {
  margin-top: 24px;
}

.m-top-lg {
  margin-top: 32px;
}

.m-top-xl {
  margin-top: 40px;
}

.p-xs {
  padding: 16px;
}

.p-md {
  padding: 24px;
}

.p-lg {
  padding: 32px;
}

.p-xl {
  padding: 40px;
}

.p-xs {
  padding: 16px;
}

.p-md {
  padding: 24px;
}

.p-lg {
  padding: 32px;
}

.p-xl {
  padding: 40px;
}

.p-bottom-xs {
  padding-bottom: 16px;
}

.p-bottom-md {
  padding-bottom: 24px;
}

.p-bottom-lg {
  padding-bottom: 32px;
}

.p-bottom-xl {
  padding-bottom: 40px;
}

.p-top-xs {
  padding-top: 16px;
}

.p-top-md {
  padding-top: 24px;
}

.p-top-lg {
  padding-top: 32px;
}

.p-top-xl {
  padding-top: 40px;
}

.btn-success {
  background-color: #05c46b;
}
.btn-success:hover {
  background-color: #06f686;
  opacity: 1;
}
.btn-success:active {
  background-color: #049250;
  opacity: 1;
}

.btn-alert {
  background-color: #ff3f34;
}
.btn-alert:hover {
  background-color: #ff6f67;
  opacity: 1;
}
.btn-alert:active {
  background-color: #ff0f01;
  opacity: 1;
}

.btn-deactivated {
  background-color: #808e9b;
}
.btn-deactivated:hover {
  background-color: #9da7b1;
  opacity: 1;
}
.btn-deactivated:active {
  background-color: #667582;
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

label {
  font-size: 1.6rem;
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }
}
@media all and (min-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.6rem;
  }

  h5 {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.2rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1.2rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1.2rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1.2rem;
}

body {
  letter-spacing: 0.02rem;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
}
.container .title {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #6e6e6e;
  font-weight: 400;
}
.container form label {
  color: #808e9b;
}
.container .details h5 {
  font-weight: 200;
}
.container .temp span {
  font-size: 4.8rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}

.btn-sucess {
  background-color: #05c46b;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.btn-sucess:hover {
  background-color: #06f686;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
