@import "_components/_variables.scss";
@import "_reset.scss";
@import "_components/_typography.scss";

body {
    letter-spacing: 0.02rem;
    font-family: $primary-font;
    background-color: darken($color: #033642, $amount: 0);
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;

    p {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 768px) {
    .error-page p{
        font-size: 2rem;
    }
}


.container {
    max-width: 400px;

    .title {
        font-family: $secondary-font;
        font-weight: 400;
        text-shadow: 2px 1px 2px rgb(247, 244, 244);

        .emoji {
            text-shadow: none;
        }
    }

    .card {
        position: relative;
        text-align: center;
        height: 427px;
         color: rgb(7, 7, 146);

        .details {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
           

            h5 {
                font-weight: 300;
            }

            .temp {
                font-size: 4.8rem;
                font-family: $secondary-font;
                font-weight: 200;
            }
        }

        .icon-container {
            position: relative;
            top: 0px;
            width: 100px;
            height: 48px;
            background-color: #e6ecf6;
            border-bottom-left-radius: 90px;
            border-bottom-right-radius: 90px;
        }

        .icon-container__night {
            background-color: #243046;
        }

        .icon {
            position: relative;
            top: -27px;
            left: -5px;
            border-radius: 50%;
            width: 110px;
        }
    }
}

.bg-night-mode {
    background-color: rgba(252, 252, 159, 0.856);
}
